.blog-information .title{
    text-align: center;
    font-weight: bold;
  }
  
.blog-information p{
    line-height: 1.5;
}

.blog-information h1 strong::before{
    content: '📖 ';
}

.blog-information a::after {
    content: '🔗';
    font-size: 0.8rem;
}

@media only screen and (max-width: 700px) {
.blog-information{
    font-size: 0.9rem;
}
}