.blog-information {
    font-family: 'Roboto Slab', serif;
    padding: 10px 50px;
    border: 1px solid #cccccc;
    margin: 30px 0px;
}

.blog-information img {
    width: 100%;
}

.blog-information .title{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
.blog-information p{
    line-height: 1.8    ;
    font-size: 1.2rem;
}

.blog-information h1 strong::before{
    content: '📖 ';
}

.blog-information a::after {
    content: '🔗';
    font-size: 0.8rem;
}

.blog-information .author{
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;;
    font-weight: bold;
}

.blog-information .date{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.blog-information blockquote{
    background-color: #ffffcc;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.blog-information blockquote p{
    color: #111111 !important;
}

.blog-information img {
    display: block;
    margin: auto;
}

/* .blog-information p{
    font-family: 'Roboto Slab', serif
    line-height: 1.5;
} */

@media only screen and (max-width: 700px) {
    .blog-information{
        font-size: 0.9rem;
        padding: 20px 20px;
    }

    .blog-information p{
        font-size: 1.2rem;
    }

    .blog-information img{
        width: 90%;
    }
}

