.ant-layout.layout.light .ant-layout-content {
  background-color: #ffffff !important;
}

/* .ant-layout.layout.light .site-layout-content {
    background-color: #ffffff !important;
} */

.ant-layout.layout.light .ant-layout-header {
  background-color: #333333;
  border-bottom: 1px solid #ffffff;
}

/* Menu */
.ant-layout.layout.light .ant-layout-header .ant-menu {
  border-bottom: none;
  display: flex;
  background-color: #333333;
}

.ant-layout.layout.light .ant-layout-header .login {
  margin-left: auto;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-item {
  margin-top: 0px;
  color: #ffffff;
  height: 66px;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-item .button-toggle {
  background-color: #111111;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-item-selected.button-toggle {
  background-color: #333333;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-item:hover.button-toggle {
  border: none !important;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-item-selected {
  border-bottom: none;
  background-color: #111111;
  color: #ffffff;
}

.ant-layout.layout.light .ant-layout-header .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 2px solid #111111;
}

/* Blog card */

.ant-layout.layout.light .blog-card {
  background-color: #ffffff;
  border: none;
}

.ant-layout.layout.light .blog-card .read-more {
  font-weight: bold;
}

.ant-layout.layout.light .ant-btn.button-google {
  color: red;
  margin-top: 20px;
}

/* .ant-layout.layout.light .ant-btn:hover{
    border: 1px solid #ffffff;
} */

/* .ant-layout.layout.light .ant-btn.ant-btn-primary:hover {
    background-color: #ffffff;
    color: #111111;
    border: 1px solid #ffffff;
} */

.ant-layout.layout.light .form-login {
  border: none;
}

/* .ant-layout.layout.light .form-login label{
    color: #cccccc;
} */

.ant-layout.layout.light .blog-information h1,
.ant-layout.layout.light .blog-information h2,
.ant-layout.layout.light .blog-information h3,
.ant-layout.layout.light .blog-information h4,
.ant-layout.layout.light .blog-information h5,
.ant-layout.layout.light .blog-information h6 {
  color: rgb(86, 86, 194);
}

.ant-layout.layout.light .blog-editor h1,
.ant-layout.layout.light .blog-editor h2,
.ant-layout.layout.light .blog-editor h3,
.ant-layout.layout.light .blog-editor h4,
.ant-layout.layout.light .blog-editor h5,
.ant-layout.layout.light .blog-editor h6 {
  color: rgb(86, 86, 194);
}

/* .ant-layout.layout.light label {
    color: #cccccc;
    font-weight: bold;
} */

.ant-layout.layout.light textarea {
  font-family: "Fira Code", monospace;
  font-size: 1.2rem;
}

.ant-layout.layout.light .blog-editor button {
  width: 100%;
}

/* .ant-layout.layout.light .previewer {
    border: 1px solid #ffffff;
} */

.ant-layout.layout.light .blog-editor .button-submit {
  width: 100%;
  background-color: #111111;
  color: #ffffff;
  font-weight: bold;
  border: none;
  margin-bottom: 20px;
}

.ant-layout.layout.light .ant-back-top-content {
  background-color: #111111;
  color: #ffffff;
}

table,
th,
td {
  border: 2px solid #111111 !important;
}
