@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=vietnamese');

:root {
  font-size: 16px !important;
  box-sizing: border-box !important;
  line-height: 1.2;
}

body {
  font-size: 16px !important;
  box-sizing: border-box !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ant-menu-vertical .ant-menu-item.logo {
  height: 64px !important;
  margin: 0 !important;
}

.ant-menu-vertical .ant-menu-item{
  margin-top: 0 !important;
}

.mde-tabs{
  display: none !important;
}

.blog-information .title{
  text-align: center;
  font-weight: bold;
}

.blog-information p{
  line-height: 1.5;
}

@media only screen and (max-width: 700px) {
  .blog-information{
    font-size: 0.9rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #dfdfdf;
}

table {
  margin-top: 20px;
  width: 100%;
}

table, th, td {
  border: 2px solid #dfdfdf;
}
th, td {
  padding: 15px;
  text-align: left;
}